.search {
    background-color: rgba(66, 66, 66, 0.548);
    padding: 3rem;
    width: 25rem;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
}

.browse {
    background-color: rgba(66, 66, 66, 0.548);
    padding: 3rem;
    width: 25rem;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
}

a.genre-unfold-link, a.title-unfold-link {
    text-decoration: none;
}

.genre-link-box, .title-link-box {
    display: none;
}

#num-title-sub-box, #alpha-title-sub-box {
    margin: 5px;
}

a.title-link {
    margin: 2px;
    font-size: 20px;
}
