.search {
    background-color: rgba(66, 66, 66, 0.548);
    padding: 3rem;
    width: 500px;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
}

.search-form {

}


.browse {
    padding: 10px;
    width: 500px;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
}

a.genre-unfold-link, a.title-unfold-link {
    text-decoration: none;
}

.genre-link-box, .title-link-box {
    display: none;
}

